body {
    background-color: #1F1F1F;
}

.UserManagement{
    background-color: #1F1F1F;
    padding: 20px;
    color: white;
}

#searchBox {
    background-color: #444444;
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}
#searchBox:hover{
    box-shadow: inset 0 0 0 1px #CCCCCC;
}

#searchBox input{
    background-color: #444444;
    outline: none;
    border: 0;
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
    color: white;
}
.createFields{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #444444;
    border-radius: 10px;
    padding: 10px;
    background-color: #2C2C2C;
}
.createFieldRows{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}
.createFieldRows input{
    color: white;
    outline: none;
    padding: 7px;
    border-radius: 10px;
    background-color: #313131;
    width: 50%;
    border: 0;
}

.createFieldRows h4 {
    padding: 10px;
    text-align: left;
    flex-grow: 1;
    margin: 0; 
}
.createButton{
    margin-left: auto;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background-color: #725BFF;
    color: white;
    border: none;
}
.createButton:hover{
    border: 1px solid #CCCCCC;
}

.space{
    display: block;
    height: 30px;
}

#sortField, #sortOrder{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: #444444;
    color: white;
}

#sortField{
    margin-right: 10px;
}

.sortContainer{
    width: 70%;
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.sortControls{
    margin-left: auto;
}
#sortIcon{
    margin-right: 10px;
}

table {
    box-sizing: border-box;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: #2C2C2C;
    border: 1px solid #444444;
}

tr:nth-child(even) {
    background-color: #313131;
}

tr:hover {
    background-color: #725BFF;
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid #444444;
}
th{
    background-color: #272727;
}
table td,table th {
    padding: 15px;
}

#editButton{
    margin-right: 10px;
}

.actionOptions{
    padding: 10px;
    border-radius: 7px;
    background-color: #444444;
    color: white;
    border: none;
}
.actionOptions:hover{
    box-shadow: inset 0 0 0 1px #CCCCCC;
}