:root{
    --background: #1F1F1F;
    --accent: #725BFF;
    --highlight: #444444;
    --glow: #CCCCCC;
    --primary: #2C2C2C;
    --secondary: #313131;
}

body {
    background-color: var(--background);
}

.UserManagement{
    padding: 20px;
    color: white;
}

#searchBox {
    background-color: var(--highlight);
    box-sizing: border-box;
    width: 70%;
    padding: 10px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border-radius: 7px;
}
#searchBox:hover{
    box-shadow: inset 0 0 0 1px var(--glow);
}

#searchBox input{
    background-color: var(--highlight);
    outline: none;
    border: 0;
    display: flex;
    flex-grow: 1;
    padding-left: 10px;
    color: white;
}
.createFields{
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid var(--highlight);
    border-radius: 10px;
    padding: 10px;
    background-color: var(--primary);
}

.createFields.highlight {
    box-shadow: 0 0 10px var(--highlight);
}
.dataTable.highlight {
    box-shadow: 0 0 10px var(--highlight); 
}

.createFieldRows{
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
}

.createFieldRows input{
    color: white;
    outline: none;
    padding: 7px;
    border-radius: 10px;
    background-color: var(--secondary);
    width: 50%;
    border: 0;
}

.createFieldRows h4 {
    padding: 10px;
    text-align: left;
    flex-grow: 1;
    margin: 0; 
}
.createButton{
    margin-left: auto;
    width: 100px;
    height: 40px;
    border-radius: 7px;
    background-color: var(--accent);
    color: white;
    border: none;
}
.createButton:hover{
    border: 1px solid var(--glow);
}

.space{
    display: block;
    height: 30px;
}

#sortField, #sortOrder{
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--highlight);
    color: white;
}

#sortField{
    margin-right: 10px;
}

.sortContainer{
    width: 70%;
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.sortControls{
    margin-left: auto;
}
#sortIcon{
    margin-right: 10px;
}

table {
    box-sizing: border-box;
    width: 70%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 10px;
    background-color: var(--primary);
    border: 1px solid var(--highlight);
}

tr:nth-child(even) {
    background-color: var(--secondary);
}

tr:hover {
    background-color: var(--accent);
}

th:not(:last-child),
td:not(:last-child) {
  border-right: 1px solid var(--highlight);
}
th{
    background-color: #272727;
}
table td,table th {
    padding: 15px;
}

#editButton{
    margin-right: 10px;
}

.actionOptions{
    padding: 10px;
    border-radius: 7px;
    background-color: var(--highlight);
    color: white;
    border: none;
}
.actionOptions:hover{
    box-shadow: inset 0 0 0 1px var(--glow);
}